<div id="cronometro"></div>

<body onload="preCarregamento();">
    <div class="pre-carregamento" id="pre-carregamento">
        <div class="efeito-carregamento" id="efeito-carregamento"></div>
    </div>
</body>

<style>
    div#cronometro {
        visibility: hidden;
        width: 0;
        height: 0;
    }

    div.pre-carregamento {
        width: 100%;
        min-height: 100vh;
        position: absolute;
        left: 0;
        background-color: #212529;
        transition: 0.5s;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    div.efeito-carregamento {
        width: 35px;
        height: 35px;
        background-color: #4caf50;
        border-radius: 100%;
        animation: efeito 0.5s infinite;
    }

    @keyframes efeito {
        0% {
            box-shadow: 0 0 0 0 #4caf50;
        }
        100% {
            box-shadow: 0 0 0 15px rgba(255, 255, 255, 0.1);
        }
    }
</style>

<script>
    const pre_carremento = document.querySelector("div.pre-carregamento");

    function preCarregamento() {
        pre_carremento.style.opacity = "0";

        setTimeout(() => {
            pre_carremento.style.display = "none";
        }, 500);
    }

    function Contagem(duração, tela) {
        let cronometro = duração;

        setInterval(() => {
            segundos = parseInt(cronometro);
            tela.textContent = segundos;

            if (--cronometro < 0) {
                window.location.href = "/";
            }
        }, 500);
    }

    window.onload = () => {
        var duração = 2;
        var tela = window.document.getElementById("cronometro");
        Contagem(duração, tela);
    }
</script>
