<div class="card">
    <div class="card-body">
        <h1>{{post.titulo}}</h1>
        <br>
        <small>{{post.data}}</small>
        <hr>
        <p class="mt-4">{{post.descricao}}</p>
        <br>
        <div>{{{post.conteudo}}}</div>
    </div>
</div>